<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="shiva"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fms.css}" media="all">
    <script th:src="@{/static/plugin/vue.global.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/vant/index.css}" media="all">
    <script th:src="@{/static/plugin/vant/vant.min.js}"></script>
    <link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>

    <script th:src="@{/static/plugin/jsencrypt.min.js}"></script>
    <script th:src="@{/static/common.js}"></script>
</head>
<body>
<div id="app">
    <input ref="token" name="token" th:value="${token}" type="hidden"/>
    <van-search
            v-model="value"
            placeholder="请输入搜索关键词"
            @search="onSearch"
            action-text="返回"
            show-action
            @cancel="back"
    ></van-search>
    <div>
        <!-- 文件树的区域 -->
        <van-list
                v-model:loading="treeData.loading"
                :finished="treeData.finished"
                finished-text="全部资源都在这里了~"
                @load="onLoadTreeData"
        >
            <van-cell v-for="item in treeData.list" :key="item">
                <van-row>
                    <van-col span="2">
                        <div style="vertical-align: middle;line-height: 45px">
                            <img v-if="item.type == 'file'" src="/static/images/icon/file.png" style="height: 35px">
                            <img v-if="item.type == 'folder'" src="/static/images/icon/folder.png" style="height: 35px">
                        </div>
                    </van-col>
                    <van-col span="20">
                        <div style="text-align: left;margin-left: 15px" @click="pointItem(item)">
                            <div style="font-weight: bold">{{item.name}}</div>
                            <div>
                                <van-row gutter="20">
                                    <van-col span="18">标签组</van-col>
                                    <van-col span="6" style="font-size: 12px;text-align: right" v-if="item.size > 0">{{item.size}} Kb</van-col>
                                </van-row>
                            </div>
                        </div>
                    </van-col>
                    <van-col span="2">
                        <div style="line-height: 45px;text-align: center">
                            <van-icon name="ellipsis"/>
                        </div>
                    </van-col>
                </van-row>
            </van-cell>
        </van-list>
    </div>

    <!-- 底部弹窗 -->
    <van-action-sheet v-model:show="funcDialog.show">
        <div style="margin: 15px">
            <van-grid square :column-num="3">
                <van-grid-item icon="medal-o" text="下载"></van-grid-item>
                <van-grid-item icon="comment-o" text="打标签"></van-grid-item>
                <van-grid-item icon="setting-o" text="描述"></van-grid-item>
                <van-grid-item icon="aim" text="重命名"></van-grid-item>
                <van-grid-item icon="exchange" text="移动"></van-grid-item>
                <van-grid-item icon="delete-o" text="删除"></van-grid-item>
            </van-grid>
        </div>
    </van-action-sheet>
    <van-floating-bubble icon="cluster" @click="morePage" ></van-floating-bubble>
</div>
<script>
    Vue.createApp({
        el: '#app',
        data() {
            return {
                requestHeaders: {},
                uploadNovelDialog: { //上传小说
                    open: false,
                },
                currentStatus: { //记录页面的基础状态
                    pageId: 0, //当前文件夹的ID，根目录为0；其他二级菜单都有上级目录
                    oldPageId: 0,//上一页的文件夹ID
                },
                treeData: {
                    list: [],
                    finished: false,
                    loading: false
                },
                funcDialog: {// 功能弹窗
                    show: false,
                }
            }
        },
        created() {
            const that = this
            setTimeout(() => {
                that.token();
                //再计算RSA加密
                that.requestHeaders = commonHeaders()
            }, 200)
        },
        methods: {
            token() {
                const token = this.$refs.token.value
                if (token == null || token === '') {
                    return false;
                }
                //将token保存到缓存，使用 sessionStorage 存储数据
                sessionStorage.setItem('token', token);
                console.log('当前token:' + sessionStorage.getItem('token'))
            },
            morePage() {
                window.location.href = '/m/page?type=settings'
            },
            onSearch() {
                //TODO 点击搜索，跳转到另一个页面，直接展示结果
            },
            onLoadTreeData() {
                const that = this
                // 异步更新数据
                // setTimeout 仅做示例，真实场景中一般为 ajax 请求
                setTimeout(() => {
                    that.pageDataGet()
                }, 800);
            },
            //返回上一级
            back() {
                this.currentStatus.pageId = Number(this.currentStatus.oldPageId)
                this.currentStatus.oldPageId = 0;
                //清空数据先
                this.treeData.list = []
                this.pageDataGet()
            },
            //点击项。点文件夹，进入下一级；点文件，先在线打开
            pointItem(obj) {
                if (obj.type === 'folder') {
                    this.currentStatus.oldPageId = Number(this.currentStatus.pageId)
                    this.currentStatus.pageId = obj.id;
                    //清空数据先
                    this.treeData.list = []
                    this.pageDataGet()
                }
                if (obj.type === 'file') {//打开功能弹窗
                    this.funcDialog.show = true
                }
            },
            pageDataGet() {
                const that = this
                //发请求，获取目录
                fetch('/api/novel/pageNovelAndFolder?parentId=' + that.currentStatus.pageId, {
                    method: 'GET',
                    headers: that.requestHeaders,
                }).then(response => response.json())
                    .then(data => {
                        // 数据全部加载完成
                        that.treeData.list = data.data
                        that.treeData.loading = false;
                        that.treeData.finished = true;
                    })
            }
        }
    }).use(vant).mount("#app");
    const vt4 = vant;
</script>
</body>
</html>