<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>默认主页</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="shiva"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fms.css}" media="all">
    <script th:src="@{/static/plugin/vue.global.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/vant/index.css}" media="all">
    <script th:src="@{/static/plugin/vant/vant.min.js}"></script>
    <link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>

    <script th:src="@{/static/plugin/jsencrypt.min.js}"></script>
    <script th:src="@{/static/common.js}"></script>
</head>
<body>
<div id="app">
    <!-- 右侧菜单引导悬浮框 -->
    <div class="suspension-navigation">
        <div class="navigation-item">
            <el-button type="success">主页</el-button>
        </div>
        <div class="navigation-item">
            <el-button type="primary">标签</el-button>
        </div>
        <div class="navigation-item">
            <el-button type="danger">回收站</el-button>
        </div>
    </div>

    <!-- TODO 上传到当前文件夹，最好有个刷新按钮 -->
    <el-button @click="uploadDialog">上传到当前文件夹</el-button>
    <!-- TODO 中间的文件列表，可以通过点击：进入文件夹、下载文件到电脑，主要功能：打标签、详情弹窗（显示/修改简述、移除标签、添加标签），其他功能（重命名、移动、删除） -->
    <div>

    </div>

</div>
<script>
    Vue.createApp({
        el: '#app',
        data() {
            return {
                requestHeaders: {
                    'Authorization': '',
                    'Auth-Source-Type': 'SERVERUI'
                },
                uploadNovelDialog: { //上传小说
                    open: false,
                },
                currentStatus: { //记录页面的基础状态
                    path: ''//当前文件夹路径
                }
            }
        },
        methods: {
            //打开单个上传的弹窗，重置状态
            uploadDialog() {
                this.uploadNovelDialog.open = true
                console.log(rsa('111'));
            }
        }
    }).use(vant).mount("#app");
    const vt4 = vant;
</script>
</body>
</html>