<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>标签搜索</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="shiva"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fms.css}" media="all">
    <script th:src="@{/static/plugin/vue.global.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/vant/index.css}" media="all">
    <script th:src="@{/static/plugin/vant/vant.min.js}"></script>
    <link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>

    <script th:src="@{/static/plugin/jsencrypt.min.js}"></script>
    <script th:src="@{/static/common.js}"></script>
</head>
<body>
<div id="app">
    <van-config-provider :theme="theme">
        <div style="margin-top: 50px">
            <!-- 文件树的区域 -->
            <van-list
                    v-model:loading="treeData.loading"
                    :finished="treeData.finished"
                    finished-text="全部资源都在这里了~"
            >
                <van-cell v-for="item in treeData.list" :key="item">
                    <van-row>
                        <van-col span="2">
                            <div style="vertical-align: middle;line-height: 45px">
                                <img src="/static/images/icon/file.png" style="height: 35px">
                            </div>
                        </van-col>
                        <van-col span="2">
                            <div style="line-height: 45px;text-align: center" @click="openFunction(item)">
                                <van-icon name="ellipsis"/>
                            </div>
                        </van-col>
                    </van-row>
                </van-cell>
            </van-list>
        </div>

        <van-floating-bubble icon="wap-home" @click="homepage"
                             style="color: white;background-color: green"></van-floating-bubble>
    </van-config-provider>
</div>
<script>
    Vue.createApp({
        el: '#app',
        data() {
            return {
                theme: 'light',//暗黑模式
                types: ["primary", "success", "danger", "warning"],
                treeData: {
                    list: [],
                    finished: false,
                    loading: false
                },
                requestHeaders: {},
            }
        },
        created() {
            const that = this
            this.theme = that.currentTheme()
            setTimeout(() => {
                that.requestHeaders = commonHeaders()
                that.listLabelsGet()
            }, 200)
        },
        methods: {
            homepage() {
                window.location.href = '/m/index'
            },
            //标签的样式：primary success danger warning
            randomType(index) {
                return this.types[index % 4];
            },
            currentTheme() {
                let theme = localStorage.getItem("DARK-LIGHT-THEME");
                if (theme == null || theme.length === 0){
                    theme = 'light'
                }
                return theme
            }
        }
    }).use(vant).mount("#app");
    const vt4 = vant;
</script>
</body>
</html>