html {
    height: 100%;
}

body {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.pwd-init-input {
    margin-top: 30px;
    height: 40px;
    line-height: 40px;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #dedede;
    text-indent: 10px;
}

.list-item-cell {
}

.grid-green {
    color: green
}

.grid-blue {
    color: dodgerblue;
}

.label-container {
    white-space: nowrap;
    overflow-x: scroll;
}

.label-container span {
    margin-right: 3px;
}

.label-container::-webkit-scrollbar {
    display: none;
}

.oss-params-label{
    color: #3d943a;
    font-size: 12px;
    text-indent: 20px;
    line-height: 20px;
}

.oss-params input {
    color: red;
}