<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>密码初始化</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="shiva"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fms.css}" media="all">
    <script th:src="@{/static/plugin/vue.global.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/vant/index.css}" media="all">
    <script th:src="@{/static/plugin/vant/vant.min.js}"></script>
    <link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
</head>
<body>
<div id="app">
    <van-config-provider :theme="theme">
        <div style="margin: auto;text-align: center">
            <div>
                <img src="/static/images/material/圣诞小熊.png" style="max-width: 100%"/>
            </div>
            <div style="margin: auto">
                <input v-model="pwd" placeholder="请输入初始化密码" class="pwd-init-input"/>
                <br/>
                <br/>
                <van-button type="danger" @click="passwordInit">确认密码</van-button>
            </div>
        </div>
    </van-config-provider>
</div>
<script>
    Vue.createApp({
        el: '#app',
        data() {
            return {
                theme: 'light',//暗黑模式
                pwd: ''
            }
        },
        created() {
            this.theme = this.currentTheme()
        },
        methods: {
            passwordInit() {
                this.pwd = this.pwd.trim()
                if (this.pwd == null || this.pwd.length === 0) {
                    vt4.showNotify({
                        type: 'danger',
                        message: '请先输入密码！'
                    });
                    return false;
                }
                window.location.href = '/m/pwdInit?pwd=' + this.pwd
            },
            currentTheme() {
                let theme = localStorage.getItem("DARK-LIGHT-THEME");
                if (theme == null || theme.length === 0) {
                    theme = 'light'
                }
                return theme
            }
        }
    }).use(vant).use(vant.Lazyload).mount("#app");
    const vt4 = vant;
</script>
</body>
</html>