<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="cn.shiva.mapper.NovelFileMapper">

    <select id="listByParentId" resultType="cn.shiva.entity.NovelFile">
        SELECT * FROM novel_file WHERE parent_id = #{parentId} ORDER BY type desc, name
    </select>
    <select id="listBySearchParam" resultType="cn.shiva.entity.NovelFile">
        SELECT * FROM novel_file
        WHERE
            name LIKE '%' || #{searchParam} || '%'
        OR sketch LIKE '%' || #{searchParam} || '%'
        ORDER BY type DESC, name
    </select>
    <select id="getByOssPath" resultType="cn.shiva.entity.NovelFile">
        SELECT * FROM novel_file WHERE oss_path = #{ossPath} limit 1
    </select>
    <select id="listFolderParentId" resultType="cn.shiva.entity.NovelFile">
        SELECT * FROM novel_file WHERE parent_id = #{parentId} and type = 'folder' ORDER BY type desc, name
    </select>
</mapper>