<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="cn.shiva.mapper.NovelLabelMapper">
    <delete id="deleteByNovelId">
        DELETE FROM mid_file_label WHERE file_id = #{novelId}
    </delete>
    <delete id="deleteByLabelId">
        DELETE FROM mid_file_label WHERE label_id = #{labelId}
    </delete>

    <select id="listLabelsByNovelId" resultType="cn.shiva.entity.NovelLabel">
        SELECT nl.*
        FROM mid_file_label mfl
        LEFT JOIN novel_file nf ON nf.id = mfl.file_id
        LEFT JOIN novel_label nl ON nl.id = mfl.label_id
        WHERE nf.id = #{novelId}
    </select>
</mapper>